<!doctype html>
<html lang="en" class="h-screen">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/styles.css">

    <script src="/static/js/adminOrders.js" defer></script>
    <title>
        Admin Orders
    </title>
</head>
<body class="bg-[--colour-900] h-screen font-noto">
<div class="flex flex-col items-center justify-center h-screen text-[--colour-font]">
    <div class="flex flex-row bg-[--colour-800] w-full h-[10%] text-[--colour-font] items-center justify-between gap-16 px-32">
        You are Logged in as: Admin
        <div class="flex flex-row bg-[--colour-800] w-[50%] h-full text-[--colour-hyper] items-center justify-end gap-16">
            <a href="/items" class="text-center border border-[--colour-border] rounded-full w-[15%] h-[25%]">Items</a>
            <a href="/sections" class="text-center border border-[--colour-border] rounded-full w-[15%] h-[25%]">Sections</a>
            <a href="/orders" class="text-center border border-[--colour-border] rounded-full w-[15%] h-[25%]">Orders</a>
            <a href="/users" class="text-center border border-[--colour-border] rounded-full w-[15%] h-[25%]">Users</a>
            <a id="logout" href="/login" class="text-center border border-[--colour-border] rounded-full w-[15%] h-[25%]">Log Out</a>
        </div>
    </div>
    <div class="flex flex-row items-center w-full h-[10%] px-8">
        <div class="flex flex-row items-center w-[50%] gap-2">
            <label for="page">Page:</label>
            <input id="page" value="{{.Page}}" min="1" class="w-[5%] h-[50%] bg-[--colour-800] ps-2">
            <div class="flex flex-col w-[5%] h-[75%] gap-1">
                <button id="button page up" class="border border-[--colour-border] rounded-full w-full h-1/2">
                    +
                </button>
                <button id="button page down" class="border border-[--colour-border] rounded-full w-full h-1/2">
                    -
                </button>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-end w-full h-[80vh] overflow-y-scroll">
        {{range $i, $order := .Orders}}
            <div class="flex flex-row justify-between w-full h-[10%] min-h-[10%] border border-[--colour-border]-gray-600 border border-[--colour-border] items-center px-8">
                <div class="w-[10%]">Order No: {{$order.OrderId}}</div>
                <div class="text-right w-[5%]">₹{{$order.Price}}</div>
                <div class="flex flex-row justify-start w-[20%] gap-x-4">
                    <progress id="progress {{ $i }}" value="{{$order.Progress}}"
                              class="rounded-full" max="100"></progress>
                    <label for="progress {{ $i }}">{{$order.Progress}}%
                    </label>
                </div>
                <div class="flex flex-row gap-4 w-[20%]">
                    {{ if $order.Paid }}
                        <input id="checkbox {{ $i }}" data-OrderId="{{ $order.OrderId }}" type="checkbox"
                               checked>
                        <label for="checkbox {{ $i }}">Undo Payment</label>
                    {{ else }}
                        <input id="checkbox {{ $i }}" data-OrderId="{{ $order.OrderId }}" type="checkbox">
                        <label for="checkbox {{ $i }}">Confirm Payment</label>
                    {{end}}
                </div>
                <div class="w-[5%] text-center">
                    <button id="dropdown {{ $i }}" data-OrderId="{{ $order.OrderId }}">v</button>
                </div>
            </div>
            {{range $j, $dish := $order.Dishes}}
                <div class="flex flex-row justify-between w-[90%] h-[10%] min-h-[10%] bg-[--colour-950] border border-[--colour-border]-gray-600 border border-[--colour-border] items-center px-8 hidden-{{ $i }} hidden">
                    <div class="w-[20%]">
                        {{ $dish.DishCount }} x {{ $dish.ItemName }}
                    </div>
                    <div class="w-[10%]">
                                        <textarea class="bg-[--colour-950] ps-2 resize-none h-full"
                                                  disabled>{{ $dish.SplInstructions }}</textarea>
                    </div>
                    <div class="flex flex-row gap-4 w-[20%]">
                        {{if $dish.Prepared }}
                            <input id="checkbox {{ $i }} {{ $j }}"
                                   data-DishId="{{$dish.DishId}}"
                                   type="checkbox"
                                   checked="checked">
                            <label id="checkboxLabel {{ $i }} {{ $j }}"
                                   for="checkbox {{ $i }} {{ $j }}">Mark as Unprepared</label>
                        {{else}}
                            <input id="checkbox {{ $i }} {{ $j }}"
                                   data-DishId="{{$dish.DishId}}"
                                   type="checkbox">
                            <label id="checkboxLabel {{ $i }} {{ $j }}"
                                   for="checkbox {{ $i }} {{ $j }}">Mark as Prepared</label>
                        {{end}}
                    </div>
                </div>
            {{end}}
        {{end}}
    </div>
</div>
</body>
</html>
