<!doctype html>
<html lang="en" class="h-screen">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">

    <script src="/static/js/orders.js" defer></script>
    <title>
        Orders
    </title>
</head>
<body class="bg-slate-900 h-screen font-noto">
<div class="flex flex-col items-center justify-center h-screen text-white">
    <div class="flex flex-row bg-slate-800 w-full h-[10%] text-white items-center justify-between gap-16 px-32">
        You are Logged in as: User
        <div class="flex flex-row bg-slate-800 w-[50%] h-full text-teal-500 items-center justify-end gap-16">
            <a href="/items">Items</a>
            <a href="/orders">Orders</a>
            <a id="logout" href="/login">Log Out</a>
        </div>
    </div>
    <div class="flex flex-row items-center w-full h-[10vh] px-8">
        <div class="flex flex-row w-full">
            <label for="page">Page:</label>
            <input id="page" type="number" value="{{ .Page }}" min="1" class="w-[5%] bg-slate-800 ps-2">
        </div>
    </div>
    <div class="flex flex-col items-end w-full h-[80vh] overflow-y-scroll">
        {{ range $i, $order := .Orders }}

            <div class="flex flex-row justify-between w-full h-[10%] min-h-[10%] border-gray-600 border items-center px-8">
                <div class="w-[10%]">Order No: {{$order.OrderId}}</div>
                <div class="text-right w-[5%]">₹{{$order.Price}}</div>


                <div class="flex flex-row justify-start w-[20%] gap-x-4">
                    <progress id="progress {{ $i }}" value="{{$order.Progress}}"
                              class="rounded-full" max="100"></progress>
                    <label for="progress {{ $i }}">{{$order.Progress}}%
                    </label>
                </div>
                <div class="w-[10%] text-center">
                    {{if $order.Paid }}
                        <button id="pay {{ $i }}" data-OrderId="{{ $order.OrderId }}"
                                class="w-full border-gray-500 border-2 rounded-full">View Bill
                        </button>
                    {{else}}
                        <button id="pay {{ $i }}" data-OrderId="{{ $order.OrderId }}"
                                class="w-full border-gray-500 border-2 rounded-full">Pay Now
                        </button>
                    {{end}}
                </div>
                <div class="w-[5%] text-center">
                    <button id="dropdown {{ $i }}" data-OrderId="{{ $order.OrderId }}">v</button>
                </div>
            </div>

            {{range $j,$dish := $order.Dishes}}
                <div class="flex flex-row justify-between w-[90%] h-[10%] min-h-[10%] bg-slate-950 border-gray-600 border items-center px-8 hidden-{{ $i }} hidden">
                    <div class="flex flex-row items-center justify-start gap-2 w-[25%] h-full">
                        <div class="flex flex-col w-[20%] h-[75%] gap-2">
                            <button id="button up {{ $i }} {{ $j }}" data-DishId="{{$dish.DishId}}"
                                    class="border rounded-full w-full h-1/2 disabled:bg-gray-800 disabled:text-gray-400">
                                +
                            </button>
                            <button id="button down {{ $i }} {{ $j }}" data-DishId="{{$dish.DishId}}"
                                    class="border rounded-full w-full h-1/2 disabled:bg-gray-800 disabled:text-gray-400">
                                -
                            </button>
                        </div>
                        <div class="flex items-center w-[75%]">
                            {{$dish.DishCount}} x {{ $dish.ItemName }}
                        </div>
                    </div>
                    <div class="w-[10%]">
                    <textarea class="bg-slate-950 ps-2 resize-none h-full"
                              disabled>{{ $dish.SplInstructions }}</textarea>
                    </div>
                    <div class="w-[10%]">
                        {{if $dish.Prepared}}
                            Ready!
                        {{else}}
                            Cooking...
                        {{end}}
                    </div>
                </div>
            {{end}}
        {{end}}
    </div>
</div>
</body>
</html>
