<!doctype html>
<html lang="en" class="h-screen">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/sections.js" defer></script>
    <title>
        Admin Items
    </title>
</head>
<body class="bg-slate-900 h-screen font-mono">
<div class="flex flex-col items-center justify-center h-screen text-white">
    <div class="flex flex-row bg-slate-800 w-full h-[10vh] text-teal-500 items-center justify-end gap-16 px-32">
        <a href="/items">Items</a>
        <a href="/sections">Sections</a>
        <a href="/orders">Orders</a>
        <a href="/users">Users</a>
        <a id="logout" href="/login">Log Out</a>
    </div>
    <div class="h-[10vh]"></div>
    <div class="flex flex-col w-full h-[80vh] overflow-y-scroll">
        {{range $i, $section := .Sections}}
            <div class="flex flex-row align-middle justify-between w-full h-[10vh] border-gray-600 border items-center px-8">
                <div class="flex flex-row items-center justify-start gap-2 w-[10%] h-full">
                    <div class="w-[2vh] h-[2vh] rounded-full"
                         style="background-color: hsl({{$section.Colour}},50%,75%)"></div>
                    {{$section.SectionName}}
                </div>
                <div class="flex flex-col w-[5%] h-3/4">
                    <button id="button up {{ $i }}" data-SectionId="{{$section.SectionId}}"
                            class="border rounded-full h-1/2 disabled:bg-gray-800 disabled:text-gray-400">
                        ^
                    </button>
                    <button id="button down {{ $i }}" data-SectionId="{{$section.SectionId}}"
                            class="border rounded-full h-1/2 disabled:bg-gray-800 disabled:text-gray-400">
                        v
                    </button>
                </div>
            </div>
        {{end}}
    </div>
</div>
</body>
</html>
