<!doctype html>
<html lang="en" class="h-screen">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/styles.css">
    <title>
        404
    </title>
</head>
<body class="bg-[--colour-900] h-screen font-noto">
<div class="flex flex-col items-center h-screen text-[--colour-font] text-center p-16 gap-16">
    <div class="font-[900] text-5xl">404-Not Found</div>
    <div class="text-3xl">
        This Page Does Not Exist
    </div>
</div>
</body>
</html>
